body{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}

body .cardtop{
    display::;
}

#calc{
   border-radius: 10%;
   margin-left: 75px;
   width: 178px;
}

#calc:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}

input:focus{
    color: white;
    background-color: black;
    border-color: white;
}

#operar{
    background-color: #ff000034;
    width: 50%;
}

#resultado{
    width: 50%;
}