body{
    font-family: Arial, Helvetica, sans-serif;
}

body .cardtop{
    display: inline-block;
}

#calc{
   border-radius: 10%;
}

#calc:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}

input:focus{
    color: white;
    background-color: black;
    border-color: white;
}

.cardtop{
    background-color: #ff000034;
    width: 400px;
    height: 200px;
}